@media screen and (max-width: 950px) {
    html{
        font-size: 85%;
    }
    .header{
        flex-direction: column;
        text-align: center;
    }
    header > section{
        width: 100%;
    } 
    section img{
        width: 70%;
    }
    p{
        font-size: 1.15rem;
    }
    .headp{
        font-size: 1.5rem;
    }
}